html {
  box-sizing: border-box;
  font-size: 100% * ($base-font-size / 16px);
  line-height: $base-line-height;
  min-height: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: $black;
  color: $white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  word-wrap: break-word;
  transition: background-color .4s ease-in-out;

  // &.no-scroll {
  //   overflow-y: hidden;
  // } 

  &.is-white {
    background-color: $white;
    color: $black;

    .header-wrapper {
      &:before {
        background-color: $white;
        border-color: $black;
      }
    }

    .who-intro__logo {
      display: none;
  
      &.is-black {
        display: block;
      }
    }
  
    .who-grid,
    .who-section,
    .contact-section {
      border-color: $black;
    }
  
    .icon {
      .line {
        stroke: $black;
      }  
    }

    footer {
      .cls-1 {
        stroke: $black;
      }
      
      .cls-2 {
        fill: $black;
      }

      .menu--social {
        border-color: $black;
      }
    }
  }
  
  &.is-blue {
    background-color: #6CC0BA;
    color: $black;

    .header-wrapper {
      &:before {
        background-color: #6CC0BA;
        border-color: $black;
      }
    }

    .who-intro__logo {
      display: none;
  
      &.is-black {
        display: block;
      }
    }
  

    .who-section,
    .contact-section {
      border-color: $black;
    }
  
    .icon {
      .line {
        stroke: $black;
      }  
    }

    footer {
      .cls-1 {
        stroke: $black;
      }
      
      .cls-2 {
        fill: $black;
      }

      .menu--social {
        border-color: $black;

        a {
          color: $black;

          &:before,
          &:after {
            background-color: $white;
          }
        }
      }
    }
  }
  
  &.is-dark-blue {
    background-color: #007D92;
    color: $white;

    .header-wrapper {
      &:before {
        background-color: #007D92;
      }
    }
  
    .who-grid,
    .who-section,
    .contact-section {
      border-color: $white;
    }
  
    .icon {
      .line {
        stroke: $white;
      }  
    }

    footer {
      .cls-1 {
        stroke: $white;
      }
      
      .cls-2 {
        fill: $white;
      }

      .menu--social {
        border-color: $white;

        a {
          color: $white;

          &:before,
          &:after {
            background-color: #6CC0BA;
          }
        }
      }
    }
  }
  
  &.is-red {
    background-color: $red;
    color: $white;

    .header-wrapper {
      &:before {
        background-color: $red;
        border-color: $white;
      }
    }
  
    .who-grid,
    .who-section,
    .contact-section {
      border-color: $white;
    }
  
    .icon {
      .line {
        stroke: $white;
      }  
    }
    
    footer {
      .cls-1 {
        stroke: $white;
      }
      
      .cls-2 {
        fill: $white;
      }
    }
  }

  &.is-pink {
    background-color: $black;
    color: $red;

    .header-wrapper {
      &:before {
        background-color: $black;
        border-color: $red;
      }
    }
  
    .who-grid,
    .who-section,
    .contact-section {
      border-color: $red;
    }
    
    .who-intro__logo {
      display: none;
  
      &.is-red {
        display: block;
      }
    }

    .icon {
      .line {
        stroke: $red;
      }  
    }

    footer {
      .cls-1 {
        stroke: $red;
      }
      
      .cls-2 {
        fill: $red;
      }

      .menu--social {
        border-color: $red;
      }
    }
  }
}

.page-js {
  background-color: $white;
}

::selection {
  color: $white;
  background: $red;
}
::-moz-selection {
  color: $white;
  background: $red;
}

%hN {
  @extend %base-font-family !optional;
  hyphens: none;
  line-height: 1.3;
  margin: 0 0 rem($vertical-spacing);
  text-rendering: optimizeLegibility;

  @media print {
    & {
      orphans: 3;
      page-break-after: avoid;
      widows: 3;

      &::after {
        display: inline-block;
      }
    }
  }
}

h1,
%h1 {
  @extend %hN;
  font-size: $font-size-h2;
  font-weight: 700;
  margin-bottom: 0.5em;

  @include bp-xxlarge {
    font-size: $font-size-h1;
  }

  &::before,
  &::after {
    display: none;
  }
}

h2,
%h2 {
  @extend %hN;
  font-size: $font-size-h3;
  font-weight: 700;

  @include bp-xxlarge {
    font-size: $font-size-h2;
  }
}

h3,
%h3 {
  @extend %hN;
  font-size: $font-size-lg;
  font-weight: 700;

  @include bp-xxlarge {
    font-size: $font-size-h3;
  }
}

h4,
%h4 {
  @extend %hN;
  font-size: $font-size-h5;
  font-weight: 400;

  @include bp-xxlarge {
    font-size: $font-size-h4;
  }
}

h5,
%h5 {
  @extend %hN;
  font-size: $font-size-h6;
  font-weight: 700;

  @include bp-xxlarge {
    font-size: $font-size-h5;
  }
}

h6,
%h6 {
  @extend %hN;
  font-size: $font-size-h6;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  // Remove top margin for adjacent subheadings.
  font-family: $base-font-family;
}

p {
  font: {
    family: $base-font-family;
    size: $base-font-size;
  }
  margin: 0 0 1rem;

  @media print {
    & {
      orphans: 3;
      widows: 3;
    }
  }
}

hr {
  border: solid 1px #fff;
}

section {}

a {
  color: $white;
  font: {
    family: $base-font-family;
    weight: 300;
  }
  position: relative;
  text-decoration: none;
  
  &:before {
    content: '';
    background-color: $red;
    bottom: 0;
    height: 1px;
    left: 50%;
    position: absolute;
    transition: all .4s ease-in-out;
    width: 0;
  }
  
  &:after {
    content: '';
    background-color: $red;
    bottom: 0;
    height: 1px;
    right: 50%;
    position: absolute;
    transition: all .4s ease-in-out;
    width: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &:after,
    &:before { 
      width: 50%;
    }
  }

  &:after,
  &:before {
    .is-pink & {
      background-color: $white;
    }
    
    .is-dark-blue & {
      background-color: #6CC0BA;
    }
    
    .is-red & {
      background-color: $black;
    }
    
    .is-blue & {
      background-color: $white;
    }
  }

  .is-dark-blue &,
  .is-black &,
  .is-red & {
    color: $white;
  }
  
  .is-blue &,
  .is-white & {
    color: $black;
  }
  
  .is-pink & {
    color: $red;
  }
}

img {
  max-width: 100%;
}