// @file
// Fonts
@font-face {
  font-family: "Shapiro";
  src: url("../css/fonts/Shapiro-45-Welter-Extd.woff") format("woff");
}

@font-face {
  font-family: "Shapiro Outline";
  src: url("../css/fonts/Shapiro-97-Air-Extd.woff") format("woff");
}