.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;

  &:hover {
    .header-wrapper {
      &:before {
        height: 100%;
        opacity: 1;
      }
    }
  }
  
  .home & {
    &:hover {
      .header-wrapper {
        &:before {
          display: none;
        }
      }
    }
  }
}

.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  
  @include bp-large {
    padding: 0 75px;
  }

  &:before {
    content: '';
    background-color: $black;
    border-bottom: solid 1px $white;
    position: absolute;
    height: 50%;
    left: 0;
    opacity: 0;
    top: 0;
    transition: all .4s ease-in-out;
    width: 100%;
    z-index: -1;
  }
}

.site-logo {
  color: $white;
  font-size: $base-font-size;

  @include bp-xlarge {
    font-size: 36px;
  }

  .site-logo-link {
    &:after,
    &:before {
      display: none;
    }
  }
}

.nav-main-inner {
  display: none;

  @include bp-medium {
    display: block;
  }
}
  
.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &.menu--main {

    li {
      display: inline-block;
      margin: 0;
      padding: 0 .5rem;
    }
  }

  @include bp-large {
    li {
      display: inline-block;
      margin: 0;
      padding: 0 .5rem;
    }
  }

  li {
    margin: 0;
    padding: 0 .5rem;

    @include bp-xlarge {
      padding: 0 .75rem;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    display: inline-block;
    padding: 0 .25rem;
    text-transform: uppercase;

    &:hover {
      &:before {
        width: 50%;
      }
      
      &:after {
        width: 50%;
      }
    }
    
    @include bp-xlarge {
      font-size: 30px;
    }
  }
}