.who-member {

  .who-wrapper & {
    img {
      margin: 0;
    }
  }
}

.who-member__image {

  img {
    display: none;
    object-fit: cover;

    &:last-child {
      display: block;
    }
  }

  @include bp-medium {
    img {
      display: block;
      object-fit: cover;
  
      &:last-child {
        display: none;
      }
    }
  
    &:hover {
      img {
        display: none;
    
        &:last-child {
          display: block;
        }
      }
    }
  }
}

.who-member__name {
  .who-wrapper & {
    font-size: $font-size-sm;
    margin: .5rem 0;

    @include bp-small {
      font-size: $font-size-md;
    }

    @include bp-xxlarge {
      font-size: $font-size-lg;
    }
  }
}

.who-member__role {
  .who-wrapper & {
    font-size: $font-size-xs;

    @include bp-small {
      font-size: $font-size-sm;
    }

    @include bp-xxlarge {
      font-size: $font-size-md;
    }
  }
}

.who-plus {
  background-color: $red;
  display: block;
  height: 100%;
  position: relative;
  transition: background-color 0.4s ease-in-out;
  width: 100%;

  .is-black &,
  .is-pink & {
    background-color: $red;
  }
  
  .is-blue &,
  .is-white & {
    background-color: $black;
  }
  
  .is-dark-blue &,
  .is-red & {
    background-color: $white;
  }

  span {
    background-color: $black;
    display: block;
    position: absolute;

    .is-blue & {
      background-color: #6CC0BA;
    }
  }

  .middle {
    height: 3px;
    left: calc((100% - 152px)/2);
    top: calc((100% - 4px)/2);
    width: 152px;
  }

  .top,
  .bottom {
    height: 76px;
    left: calc((100% - 4px)/2);
    width: 4px;
  }

  .top {
    top: calc(50% - 76px);
  }
  
  .bottom {
    bottom: calc(50% - 76px);
  }

  &:hover {
    
  }
}

@for $i from 1 through 10 {
  .who-member:nth-child(#{$i}n) {
    transition-delay: #{$i * .1}s;
  }

  .who-logos:nth-child(#{$i}n) {
    img {
      transition-delay: #{$i * .1}s;
    }
  }
}