<div class="icon">
  <div class="icon__top">
    <svg id="Visual" xmlns="http://www.w3.org/2000/svg" width="68.91" height="74.04" viewBox="0 0 68.91 74.04">
      <g>
        <path class="line" d="M34.54,20.45a3.66,3.66,0,1,1,3.66-3.66,3.66,3.66,0,0,1-3.66,3.66" transform="translate(-0.05 -1.98)"/>
        <line class="line" x1="0.76" y1="73.29" x2="34.5" y2="14.84"/>
        <line class="line" x1="68.15" y1="73.29" x2="34.41" y2="14.84"/>
        <line class="line" x1="34.57" y1="15.92" x2="34.57" y2="0.76"/>
        <path class="line" d="M54.1,50.65a32.27,32.27,0,0,1-39.07,0" transform="translate(-0.05 -1.98)"/>
      </g>
    </svg>
    <h3>Visual</h3>
  </div>
  <div class="icon__bottom">
    <ul>
      <li>Graphic Design</li>
      <li>Visual Identity</li>
      <li>Motion Graphic</li>
      <li>Advertising</li>
    </ul>
  </div>
</div>